@inject AppVersionInfo appInfo
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>.NET Thanks!</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
        
        
    <link rel="stylesheet" href="~/css/site.css" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://statics-marketingsites-wcus-ms-com.akamaized.net/statics/override.css?c=7"
    type="text/css">
    <link rel="stylesheet"
    href="https://dotnet.microsoft.com/static/css/bootstrap-custom.min.css?v=4QXfuiVTewKXiafMHUD9ycyoNftfFX8SiX5K5_7H9Z0" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/" style="text-decoration: none!important;">.NET</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://github.com/spboyer/dotnetthanks">Source</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <div class="jumbotron">
            <div class="site-banners">

            </div>
            <div class="container" id="mainContent">

                <h1 class="text-center x-hidden-focus">.NET Thank You!</h1>
                <p class="lead">
                    .NET is an open-source project and is very thankful for the many community contributions it receives.
                </p>
            </div>
        </div>

        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <cache expires-after="@TimeSpan.FromDays(30)">
            <div class="container copyright">&copy;<a href="https://www.microsoft.com">Microsoft</a>. 
                Powered by <a href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core">@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</a>
                built and deployed from <a href="https://github.com/spboyer/dotnetthanks">spboyer/dotnetthanks</a>
                via build <a href="https://github.com/spboyer/dotnetthanks/actions/runs/@appInfo.BuildNumber">@appInfo.BuildNumber</a>
            </div>
        </cache>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <base href="/">
</body>

</html>
