@page
@model Index2Model
@{
    ViewData["Title"] = ".NET Contributors";
}

<div class="text-center">
    <h1>Thanks</h1>
</div>

<div>
    .NET is an open-source project and is very thankful for the many community contributions it receives.
</div>
<H2>.NET Core Open Source Repositories</H2>
<div class="row">
  <div class="col"><a href="/details/core">core</a></div>
</div>



